name: Python CI

on: 
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Chechout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5

              with:
                python-version: "3.10"

            - name: Install dependecies
              run:
                python -m pip install --upgarde pip
                pip install -r requirements.txt

            - name: Run tests
              run: pytest